<div class="content group">
	<h1 class="main-header">All Admins</h1>
	
	<ul>
	<% @admins.each do |admin| %>
		
		<% if admin.super %>
			<li><%= admin.email %> <%= link_to "edit", edit_admin_url(admin) %></li>
		<% else %>
		<li><%= admin.email %> <%= link_to "edit", edit_admin_url(admin) %> <%= link_to "destroy", admin_url(admin), :method => "delete" %></li>
		<% end %>
				
	<% end %>
	</ul>
	
</div>