<h1 class="sub-header">Comments</h1><hr>

<section class="comments">

	<%= render @comments %>

</section>

<% if customer_signed_in? %>

	<%= form_for(@comment, remote: true, html: {id: "comment-form"}) do |f| %>
		<%= f.text_area :body, :placeholder => "What do you think?", :class => "comment-body" %><br>
		<%= f.hidden_field :movie_id, :value => @movie.id %>
		<%= f.submit "Post Comment", :class => "post-comment" %>
	<% end %>

	<% else %>
	
	<%= link_to "Sign in to comment", new_customer_session_url %>

<% end %>

<script>
	$(document).ready(function(){

		$("#comment-form").on("ajax:success", function(event, data){
			$(".comments").prepend(data);
	
			$("#comment-form textarea").val("");

		});
	});
</script>