<div class="content group">	
	<% if admin_signed_in? %>
	
	<div class="online">
		<h1>Online</h1>
			<ul>
			<% Movie.online.reverse.each do |movie| %>
			
			<li><%= link_to "#{movie.title}", movie_url(movie) %>
					<%= button_to "Edit", edit_movie_url(movie), :method => "get", :form_class => "edit-button" %>
					<%= button_to "Delete", movie_url(movie), :method => "delete", :form_class => "delete-button" %></li>
		
			<% end %>
			</ul>
		</div><hr>
	
	<div class="offline">
		<h1>Offline</h1>	
			<ul>
			<% Movie.offline.reverse.each do |movie| %>
		
			<li><%= link_to "#{movie.title}", movie_url(movie) %>
					<%= button_to "Edit", edit_movie_url(movie), :method => "get", :form_class => "edit-button" %>
					<%= button_to "Delete", movie_url(movie), :method => "delete", :form_class => "delete-button" %></li>
	
			<% end %>
		</ul>
	</div>
		
	<% else %>
		<%= render "list" %>
	<% end %>
</div>