<div class="content group">
  <section class="content-movie">
		
		<header class="vital-info group">
			<h2 class="movie-title"><%= "#{@movie.full_title} (#{@movie.rating})" %> 
															<%= link_to "Edit", edit_movie_url(@movie) %></h2>
			<hp class="release-date"><strong>Release Date: </strong> <%= @movie.opening_date.to_date %></p>
		</header>
		
    <article class="post">
      <header class="group">
  
        <div class="movie-poster">
          <%= link_to (image_tag @movie.poster.url(:medium)), movie_url(@movie) %>
        </div>
  
        <div class="movie-text">
          <p>
						<%= @movie.description %> 
					<br>
					<br>
						<strong>Starring:</strong> <%= @movie.starring %><br>
						<strong>Director:</strong> <%= @movie.director %><br>
						<strong>Runtime:</strong> <%= "#{@movie.runtime} mins." %><br>
						<strong>Released By:</strong> <%= @movie.released_by %>
					</p>
					
					<!-- <button class="trailer">Trailer</button> -->
					<%= link_to "Trailer", @movie.trailer, :target => "blank"%>
        </div>
  
      </header>
    </article>
		
	</section>
	
	<%= render "list" %>
</div>