<div class="content group">
  <section class="content-movie">
		
		<header class="vital-info group">
			<h2 class="movie-title"><%= "#{@movie.full_title} (#{@movie.rating.value})" %>
															<% if admin_signed_in? %>
																<%= link_to "Edit", edit_movie_url(@movie) %>
																<% end %>
															</h2>
			<p class="release-date"><strong>Release Date: </strong> <%= @movie.opening_date.to_date %></p>
		</header>
		
    <article class="post">
      <header class="group">
				
        <div class="movie-media group">
					<div class="movie-poster">
						<%= link_to (image_tag @movie.poster.url(:medium)), movie_url(@movie) %>
					</div>

					<div class="movie-trailer">					
						<iframe width="560" height="315" src="<%= @movie.trailer %>" frameborder="0"></iframe>
					</div>
				</div>
  
        <div class="movie-text">
          <p>
						<p><%= display_score(@movie) %></p>
						<%= @movie.description %> 
					</p>
					<ul>
						<li><strong>Starring:</strong> <%= @movie.starring %></li>
						<li><strong>Director:</strong> <%= @movie.director %></li>
						<li><strong>Runtime:</strong> <%= "#{@movie.runtime} mins." %></li>
						<li><strong>Released By:</strong> <%= @movie.released_by %></li>
					</ul>
        </div>
  
      </header>
    </article>
		
	</section>
	
	<%= render "list" %>
</div>