<div class="content group">
	<h1 class="main-header">My Account</h1>
	<div class="back-to-main"><%= link_to "Back to Main", customer_url(current_customer) %></div>
	
	<%= form_for(@customer) do |f| %>
	
	<div class="customer-label"><%= f.label :email %></div>
	<div><%= f.text_field :email %></div>
	
	<div class="customer-label"><%= f.label :password, "New Password" %></div>
	<div><%= f.password_field :password %></div>
	
	<div class="customer-label"><%= f.label :password_confirmation, "New Password Confirmation" %></div>
	<div><%= f.password_field :password_confirmation %></div>
		
	<div class="customer-label"><%= f.submit %></div>
	
	<% end %>
	
	<hr>
	
	<div class="cancel-form"><%= button_to "Delete My Account", customer_url(@customer), :method => "delete" %></div>

</div>
