<%= form_for(@cart_item) do |f| %>

	<div><%= f.label :quantity %>
	<%= f.text_field :quantity %></div>
	
	<%= f.hidden_field(:customer_id, :value => @customer.id) %>
	<%= f.hidden_field(:showtime_id, :value => @showtime.id) %>

<%= f.submit "Put Item in Cart" %>

<% end %>
