<div class="content group">
  <section class="content-sidebar">
  
    <div class="profile-picture">
 		 <%= link_to (image_tag "logo_example.png"), root_url %>
    </div>
  
    <div class="profile-info">
      <h2>Indie Theater</h2>
      <p>
        0 Infinite Loop<br>
				Brooklyn, NY 11111<br>
        <strong>Phone</strong> (555) 555-5555
      </p>
    </div>
  
  </section>
  
	<section class="content-main">
  
    <header class="content-header">
      <h1>Showtimes</h1>
    </header>
		        	
      <div class="posts">
    	
        <article class="post">
          <header class="group">
    
            <div class="day-list">
							<div class="week">
	              <ul>
									<% (0..6).each do |i| %>
										<li><%= link_to_showtime_day(i, @offset) %></li>
									<% end %>
								</ul>
							</div>
            </div>
    
          </header>
        </article>
	
				<% @now_playing.each do |n| %>
      
				<article class="post">
	        <header class="group">

	          <div class="post-thumb">
	            <%= link_to (image_tag n.poster.url(:small)), movie_url(n) %>
	          </div>

	          <div class="post-info">
	            <h3><%= link_to "#{n.full_title} (#{n.rating.value})", movie_url(n) %></h3>
	            <p>
								<strong>Runtime:</strong> <%= "#{n.runtime} mins." %><br>
								<strong>Director:</strong> <%= n.director %><br>
								<strong>Genres:</strong> <% n.genres.each do |g| %> <%= g.name %> <% end %><br>
								<strong>Starring:</strong> <%= n.starring %>
							</p>
	          </div>
				</header>
					
				<div class="showtime-list">
							<ul>
								<% n.showtimes.sort_by {|showtime| showtime.time }.each do |s| %>
								
									<% if @showtimes.include?(s) %>
										<% if (s.time > @today) %>
											<li><%= link_to s.time.strftime('%l:%M %p'), "#" %></li>
										<% else %>
											<li><%= s.time.strftime('%l:%M %p')%></li>
										<% end %>
									<% end %>
								<% end %>
							</ul>									
					</div>
        </article>
 			<% end %>
 
    </div>
  
  </section>
</div>