<div class="content group">
  <section class="content-movie">
		
		<header class="vital-info group">
			<h2 class="movie-title"><%= "#{@movie.full_title} (#{@movie.rating.value})" %>
															<% if admin_signed_in? %>
																<%= link_to "Edit", edit_movie_url(@movie) %>
																<% end %>
															</h2>
		</header>
		
    <article class="post">
      <header class="group">
				
        <div class="movie-media group">
					<div class="movie-poster">
						<%= link_to (image_tag @movie.poster.url(:medium)), movie_url(@movie) %>
					</div>

					<div class="movie-trailer">					
						<iframe width="560" height="315" src="<%= @movie.trailer %>" frameborder="0"></iframe>
					</div>
				</div>
  
        <div class="movie-text">
          <p>
						You have selected <%= "#{@movie.title} on #{@showtime.time.strftime('%A, %b %d at %l:%M %p')}"%>
					</p>
					<%= render "/orders/form" %>
        </div>
  
      </header>
    </article>
		
	</section>
</div>