<h1 class="main-header">Your Rating for: </h1>

<h2 class="sub-header"><%= @movie.title %></h2>

<div><%= image_tag @movie.poster.url(:medium), :class => "solo-poster" %></div>	

<%= form_for(@review) do |f| %>

<div id="rating">
	<%= f.radio_button :score, 4, :hidden => true %>
	<%= f.label :score_4, "☆", :class => "star-4" %>
	
	
	<%= f.radio_button :score, 3, :hidden => true %>
	<%= f.label :score_3, "☆", :class => "star-3" %>
	
	<%= f.radio_button :score, 2, :hidden => true %>
	<%= f.label :score_2, "☆", :class => "star-2" %>

	
	<%= f.radio_button :score, 1, :hidden => true %>
	<%= f.label :score_1, "☆", :class => "star-1" %>
</div>
	
<%= f.hidden_field :customer_id, :value => @customer.id %>

<%= f.hidden_field :movie_id, :value => @movie.id %>

<%= f.submit %>

<% end %>

<script>
	var Star = (function(){
	
		var firstStar = $("#rating > .star-1");
		var secondStar = $("#rating > .star-2");
		var thirdStar = $("#rating > .star-3");
		var fourthStar = $("#rating > .star-4");
	
		var init = function(){
			bind();
		}
	
		var bind = function(){
			firstStar.on("click", first);
			secondStar.on("click", second);
			thirdStar.on("click", third);
			fourthStar.on("click", fourth);
		}
	
		var first = function(){
			firstStar.html('★');
			secondStar.html('☆');
			thirdStar.html('☆');
			fourthStar.html('☆');
		}
	
		var second = function(){
			firstStar.html('★');
			secondStar.html('★');
			thirdStar.html('☆');
			fourthStar.html('☆');
		}
	
		var third = function(){
			firstStar.html('★');
			secondStar.html('★');
			thirdStar.html('★');
			fourthStar.html('☆');
		}
	
		var fourth = function(){
			firstStar.html('★');
			secondStar.html('★');
			thirdStar.html('★');
			fourthStar.html('★');
		}
	
		return {
			init: init
		}
	})();

	$(document).ready(function(){
		Star.init();
	});
</script>
