<h1 class="main-header">Your Rating for: </h1>

<h2 class="sub-header"><%= @movie.title %></h2>

<div><%= image_tag @movie.poster.url(:medium), :class => "solo-poster" %></div>	

<%= form_for(@review) do |f| %>

<div id="rating">
	<%= f.radio_button :score, 4, :hidden => true %>
	<%= f.label :score_4, "☆", :class => "star-4" %>
	
	
	<%= f.radio_button :score, 3, :hidden => true %>
	<%= f.label :score_3, "☆", :class => "star-3" %>
	
	<%= f.radio_button :score, 2, :hidden => true %>
	<%= f.label :score_2, "☆", :class => "star-2" %>

	
	<%= f.radio_button :score, 1, :hidden => true %>
	<%= f.label :score_1, "☆", :class => "star-1" %>
	
	
	
	<!-- <input type="radio" name="rev"><label class="star-4">☆</label><label class="star-3">☆</label><label class="star-2">☆</label><label class="star-1">☆</label> -->
</div>
	
<%= f.hidden_field :customer_id, :value => @customer.id %>

<%= f.hidden_field :movie_id, :value => @movie.id %>

<%= f.submit %>

<% end %>

<%= javascript_include_tag "star" %>	
<script>
	$(document).ready(function(){
		Star.init();
	});
</script>
