<h1 class="main-header">Your Rating for: </h1>

<h2 class="sub-header"><%= @movie.title %></h2>

<div><%= image_tag @movie.poster.url(:medium), :class => "solo-poster" %></div>	

<%= form_for(@review) do |f| %>

<div id="rating">
	<span class="star-4">☆</span><span class="star-3">☆</span><span class="star-2">☆</span><span class="star-1">☆</span>
</div>
	
<%= f.hidden_field :customer_id, :value => @customer.id %>

<%= f.hidden_field :movie_id, :value => @movie.id %>

<%= f.submit %>

<% end %>

<%= javascript_include_tag "star" %>	
<script>
	$(document).ready(function(){
		Star.init();
	});
</script>
