<div class ="content group">
	
	<h1 class="main-header">Your Rating for: </h1>
	
	<h2 class="sub-header"><%= @movie.title %></h2>
	
	<div><%= image_tag @movie.poster.url(:medium), :class => "solo-poster" %></div>	
	
	<%= form_for(@review) do |f| %>
	
	<div><select id="review_score" name="review[score]">
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
		Star(s)</div>
		
	<%= f.hidden_field :customer_id, :value => @customer.id %>
	
	<%= f.hidden_field :movie_id, :value => @movie.id %>
	
	<%= f.submit %>
	
	<% end %>
	
</div>