<!DOCTYPE html>
<html>
<head>
  <title>IndieTheater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<header class="header">
		<div class="header-wrap group">
			
			<h1 class="header-logo">
				<%= link_to "Indie Theater", root_url %>
			</h1>
			
			<nav class="header-nav">
				<ul class="group">
					<li><%= link_to "Showtimes", showtimes_url %></li>
					<li><%= link_to "Movies", movies_url %></li>
					<li><a href="#">Parties/ Group Rates</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>
			
		</div>
	</header>

<%= yield %>

<footer class="footer group">
	
	<small class="footer-copy">
		&copy; 2013 Indie Theater. All rights reserved.
	</small>
		
	<nav class="footer-links">
		<ul class="group">
			<li><%= link_to "Home", root_url %></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Social Media</a></li>
		</ul>
	</nav>
	
</footer>	

</body>
</html>
